@import "../style/_variables";

.login_page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  &-container {
    width: 400px;
    height: 280px;
    padding: 45px 85px 10px 85px;
    background-color: $bg-main;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }
  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
  &-or {
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
    color: #afafaf;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &:before,
    &:after {
      content: " ";
      display: inline-block;
      width: 90px;
      height: 1px;
      background-color: #afafaf;
    }
    &:before {
      margin-right: 15px;
    }
    &:after {
      margin-left: 15px;
    }
  }
}
