@import "../../style/variables.scss";

.chat {
  margin-left: $sidebar-width;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 22px);
  &_header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 75px;
    padding: 5px 10px;
    background-color: $bg-secondary;
    border-bottom: 1px solid $bg-border;
    z-index: 9;
  }
  &_name {
    margin-left: 15px;
    font-weight: 400;
  }
  &_messages {
    overflow: auto;
    margin-bottom: 140px;
    margin-top: 85px;
  }
  &_input {
    height: 140px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: $other-width;
    padding: 30px 20px;
    border-top: 1px $bg-border solid;
    background-color: $bg-secondary;
  }
}
