.sidebar {
  &_user {
    width: 64px;
    height: 64px;
    display: inline-block;
    position: relative;

    &-avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    &-check {
      position: absolute;
      right: -3px;
      bottom: -3px;
      width: 30%;
      &-read {
        fill: #63a565;
      }
      &-unread {
        fill: #972929;
      }
    }
  }
}
