@import "../../style/variables";

.sidebar {
  box-sizing: border-box;
  position: fixed;
  min-height: calc(100vh - 22px);
  overflow: auto;
  width: $sidebar-width;
  border-right: 1px solid $bg-border;
  &_header {
    padding: 10px;
    height: 170px;
    box-sizing: border-box;
    background-color: $bg-secondary;
    border-bottom: 1px solid $bg-border;
  }
  &_chats {
    height: calc(100vh - 190px);
    overflow: auto;
    &-title {
      font-weight: 400;
      font-size: 32px;
      color: #4792b9;
      margin: 50px 20px;
    }
  }
}
