@import "../../style/variables";

.sidebar {
  width: 33%;
  &_header {
    box-sizing: border-box;
    padding: 10px;
    background-color: $bg-secondary;
  }
}

@media (max-width: 769px) {
  .sidebar {
    width: 100%;
    &_user {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
